.layout {
  position: relative;
  padding: 20px 30px;
  min-width: 600px;
  width: 1000px;
  height: 800px;
  border-radius: 40px;
  box-shadow: rgba(99, 99, 100, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-list {
  position: absolute;
  left: -45px;
  top: 50px;
}

.button-list li button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.todo-form input {
  outline: none;
  width: 100%;
  padding: 0 3px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.todo-list li {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 3px 5px;
  margin: 4px;
}
.todo-list li:hover {
  cursor: pointer;
  background-color: #ffffff2c;
  border-radius: 5px;
}

.todo-list i {
  position: absolute;
  right: 6px;
  top: 6px;
  color: rgb(102, 102, 102);
}

.user-name {
  font-size: 2.5rem;
  font-weight: 800;
}

.logout-button {
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.content {
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 20px;
  flex: 1;
  height: 80%;
}

.quote-container {
  width: 450px;
}

.clock {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.weather-container {
  /* font-size: 0.9rem; */
}
